/*
    Created By : Anass Laaribi
*/
/* Start General Css */
:host {
    --color_backg: #f6f7fc;
    --color_blue: #2a2e4f;
    --color_pink: #f1557e;
    --color_pink2:rgb(189, 0, 50);
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--color_backg);
}

.bg-blue {
    background-color: var(--color_blue);
}
/* End General Css */
/* Start Navbar */
.dashboard .navbar {
    box-shadow: 0px 4px 5px #00000011;
}
.navbar-light .navbar-nav .active>.nav-link, 
.navbar-light .navbar-nav .nav-link.active, 
.navbar-light .navbar-nav .nav-link.show, 
.navbar-light .navbar-nav .show>.nav-link{
    color: var(--color_pink);
}
.navbar-light .navbar-nav .nav-link {
    font-size: 1.2rem;
    font-weight: 500; 
}
/* End Navbar */
/* Start Sidbar */
.dashboard .mycol {
    padding-right: 0;
}
.dashboard .sidbar {
    height: 100vh;
}
.dashboard .sidbar .brand {
    font-size: 1.5rem;
    font-weight: 500;
}
.dashboard .sidbar .brand span {
    color: var(--color_pink);
}
.dashboard .sidbar ul  li {
    text-align: left;
    margin: 40px 0 0 30px;
    cursor: pointer;
}

.dashboard .sidbar ul  li.active  {
    background-color: var(--color_pink);
    color: var(--color_backg);
    padding: 10px 15px;
    border-radius: 35px 0 0 35px;
}
/* End Sidbar */

/* Start Content */

.dashboard .content {
    height: 100vh;
}

/* End Content */