.title h1 {
    font-size: 1.3rem;
    font-weight: 600;
    color: #555;
}

.title h1 span {
    background-color: var(--color_pink);
    padding: 3px 13px;
    border-radius: 10px;
    color: #fff;
    margin-right: 7px;
}
table tbody tr td:nth-child(2) {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 300px;
}