<!-- Start Navbar -->
<nav class="navbar navbar-dark bg-blue navbar-expand-lg ">
  <div class="container-fluid">
      <a class="navbar-brand" href="#"><span>B</span>ooks</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">View</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Dashboard</a>
          </li>
        </ul>
      </div>
  </div>
</nav>
<!-- End Navbar -->
<!-- Start Title Section -->
<section class="title-sec p-5 d-flex justify-content-center">
  <div class="point mr-3"></div>
  <h1>The Best Books of 2021</h1>
</section>
<!-- End Title Section -->
<!-- Start books -->
<section class="books pb-5">
  <div class="container-fluid">
      <div class="row">
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_1.jpg" alt="">
                  <div class="divider my-2"></div>
                  <p>Learning Java by Building Android Games: Learn Java and Android from scratch by building five exciting games, 3rd Edition</p>
                  <h6>$44.99</h6>
              </div>
          </div>
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_2.png" alt="">
                  <div class="divider my-2"></div>
                  <p>Data Structures and Algorithms Made Easy in Java: Data Structure and Algorithmic Puzzles, Second Edition</p>
                  <h6>$44.99</h6>
              </div>
          </div>
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_3.jpg" alt="">
                  <div class="divider my-2"></div>
                  <p>Learning Java by Building Android Games: Learn Java and Android from scratch by building five exciting games, 3rd Edition</p>
                  <h6>$44.99</h6>
              </div>
          </div>
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_4.jpg" alt="">
                  <div class="divider my-2"></div>
                  <p>Learn Java 12 Programming: A step-by-step guide to learning essential concepts in Java SE 10, 11, and 12</p>
                  <h6>$44.99</h6>
              </div>
          </div>
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_5.png" alt="">
                  <div class="divider my-2"></div>
                  <p>Learning Java by Building Andro</p>
                  <h6>$44.99</h6>
              </div>
          </div>
      </div>


      <div class="row my-3">
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_1.jpg" alt="">
                  <div class="divider my-2"></div>
                  <p>Learning Java by Building Android Games: Learn Java and Android from scratch by building five exciting games, 3rd Edition</p>
                  <h6>$44.99</h6>
              </div>
          </div>
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_2.png" alt="">
                  <div class="divider my-2"></div>
                  <p>Data Structures and Algorithms Made Easy in Java: Data Structure and Algorithmic Puzzles, Second Edition</p>
                  <h6>$44.99</h6>
              </div>
          </div>
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_3.jpg" alt="">
                  <div class="divider my-2"></div>
                  <p>Learning Java by Building Android Games: Learn Java and Android from scratch by building five exciting games, 3rd Edition</p>
                  <h6>$44.99</h6>
              </div>
          </div>
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_4.jpg" alt="">
                  <div class="divider my-2"></div>
                  <p>Learn Java 12 Programming: A step-by-step guide to learning essential concepts in Java SE 10, 11, and 12</p>
                  <h6>$44.99</h6>
              </div>
          </div>
          <div class="col">
              <div class="mycard text-center">
                  <img src="assets/images/book_5.png" alt="">
                  <div class="divider my-2"></div>
                  <p>Learning Java by Building Andro</p>
                  <h6>$44.99</h6>
              </div>
          </div>
      </div>
  </div>
</section>
<!-- End books -->
<!-- Start Footer -->
<section class="footer text-center py-3 bg-blue text-light">
  <h6>2021 - created by anass laaribi</h6>
</section>
<!-- End Footer -->



<!--
<div class="container">
  
  <div class="row mt-3">
    <div class="col">
      <div class="alert alert-light border">
        Book
      </div>
    </div>
  </div>

  <button class="btn btn-primary btn-sm mb-1">Create New Book</button>
  <div class="row my-2">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="bookForm" (ngSubmit)="onAddBook()">
            <div class="form-group">
              <label for="title">Title</label>
              <input formControlName="title" id="title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea formControlName="description" id="description" name="description" cols="30" rows="3" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input formControlName="price" id="price" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input formControlName="author" id="author" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="edition">Edition</label>
              <input formControlName="edition" id="edition" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-sm">Confirm</button>
            <button class="btn btn-outline-success btn-sm mx-2">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>

 Presentation sous forme list 
<table class="table">
  <thead>
    <th>#</th>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let b of books">
      <td>{{b.id}}</td>
      <td>{{b.title}}</td>
      <td>{{b.description}}</td>
      <td>
        <button class="btn btn-sm btn-outline-info">Modifier</button>
        <button (click)="onDeleteBookById(b.id)" class="btn btn-sm btn-outline-danger mx-2">Supprimer</button>
        <button class="btn btn-sm btn-outline-primary">Détails</button>
      </td>
    </tr>
  </tbody>
  <tr></tr>
</table>

presentation sous forme cartes 
  <div class="row">
    <div *ngFor="let b of books" class="col-md-3">
      <div  class="card my-2">
        <div class="card-header">{{b.title}}</div>
        <div class="card-body">
          {{b.description}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-light border">
        <div class="h6 text-primary text-center">Book Details</div>
        <p class="font-weight-bold">{{book.title}}</p>
        <p>{{book.description}}</p>
        <p>{{book.price}}</p>
        <p>{{book.author}}</p>
        <p>{{book.edition}}</p>
      </div>
    </div>
  </div>
</div>
-->