<div class="container">
  
  <div class="row mt-3">
    <div class="col">
      <div class="alert alert-light border">
        Book
      </div>
    </div>
  </div>

  <button class="btn btn-primary btn-sm mb-1">Create New Book</button>
  <div class="row my-2">
    <div class="col-md-6 offset-md-3">
      <div class="card">
        <div class="card-body">
          <form [formGroup]="bookForm" (ngSubmit)="onAddBook()">
            <div class="form-group">
              <label for="title">Title</label>
              <input formControlName="title" id="title" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="description">Description</label>
              <textarea formControlName="description" id="description" name="description" cols="30" rows="3" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label for="price">Price</label>
              <input formControlName="price" id="price" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="author">Author</label>
              <input formControlName="author" id="author" type="text" class="form-control">
            </div>
            <div class="form-group">
              <label for="edition">Edition</label>
              <input formControlName="edition" id="edition" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-success btn-sm">Confirm</button>
            <button class="btn btn-outline-success btn-sm mx-2">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<!-- Presentation sous forme list -->
<table class="table">
  <thead>
    <th>#</th>
    <th>Title</th>
    <th>Description</th>
    <th>Actions</th>
  </thead>
  <tbody>
    <tr *ngFor="let b of books">
      <td>{{b.id}}</td>
      <td>{{b.title}}</td>
      <td>{{b.description}}</td>
      <td>
        <button class="btn btn-sm btn-outline-info">Modifier</button>
        <button class="btn btn-sm btn-outline-danger mx-2">Supprimer</button>
        <button class="btn btn-sm btn-outline-primary">Détails</button>
      </td>
    </tr>
  </tbody>
  <tr></tr>
</table>

<!-- presentation sous forme cartes -->
  <div class="row">
    <div *ngFor="let b of books" class="col-md-3">
      <div  class="card my-2">
        <div class="card-header">{{b.title}}</div>
        <div class="card-body">
          {{b.description}}
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <div class="alert alert-light border">
        <div class="h6 text-primary text-center">Book Details</div>
        <p class="font-weight-bold">{{book.title}}</p>
        <p>{{book.description}}</p>
        <p>{{book.price}}</p>
        <p>{{book.author}}</p>
        <p>{{book.edition}}</p>
      </div>
    </div>
  </div>
</div>