<div class="container">
    <div class="title my-5">
        <h1><span>4</span> Statistics</h1>
    </div>
    <div class="row">
        <div class="col">
            <div class="alert alert-info">
                <div class="h6">Number of Books</div>
                <div class="h1 mt-5">534</div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-danger">
                <div class="h6">Number of Books</div>
                <div class="h1 mt-5">534</div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col">
            <div class="alert alert-info">
                <div class="h6">Number of Books</div>
                <div class="h1 mt-5">534</div>
            </div>
        </div>
        <div class="col">
            <div class="alert alert-danger">
                <div class="h6">Number of Books</div>
                <div class="h1 mt-5">534</div>
            </div>
        </div>
    </div>
</div>