/*
    Created By : Anass Laaribi
*/
:host {
    --color_backg: #f6f7fc;
    --color_blue: #2a2e4f;
    --color_pink: #f1557e;
    --color_pink2:rgb(189, 0, 50);
}


.bg-blue {
    background-color: var(--color_blue);
}

/* Start Navbar */
.navbar .navbar-brand {
    font-size: 1.5rem;
    font-weight: 500;
}
.navbar .navbar-brand span {
    color: var(--color_pink);
}
.navbar-dark .navbar-nav .active>.nav-link, 
.navbar-dark .navbar-nav .nav-link.active, 
.navbar-dark .navbar-nav .nav-link.show, 
.navbar-dark .navbar-nav .show>.nav-link{
    color: var(--color_pink);
}
.navbar-dark .navbar-nav .nav-link {
    font-size: 1.2rem;
    font-weight: 500; 
}
/* End Navbar */
/* Start Title Section */
.title-sec .point {
    height: 50px;
    width: 15px;
    background-color: var(--color_pink);
}
.title-sec h1{
    font-size: 2.5rem;
    font-weight: 600; 
}
/* End Title Section */
/* Start Books */
.books {
    min-height: 1000px;
}
.books .mycard {
    border: 1px solid var(--color_pink);
    padding: 10px;
}
.books .mycard img{
    width: 250px;
}
.books .mycard .divider {
    height: 2px;
    width: 100%;
    background-color: var(--color_pink);
}
.books .mycard p {
    height: 100px;
}
.books .mycard h6 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--color_pink2);
}
/* End Books */