<!-- Start Navbar -->
<nav class="navbar navbar-dark bg-blue navbar-expand-lg ">
    <div class="container-fluid">
        <a class="navbar-brand" href="#"><span>B</span>ooks</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" >View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/dashboard">Dashboard</a>
            </li>
          </ul>
        </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <!-- Start Title Section -->
  <section class="title-sec p-5 d-flex justify-content-center">
    <div class="point mr-3"></div>
    <h1>The Best Books of 2021</h1>
  </section>
  <!-- End Title Section -->
  <!-- Start books -->
  <section class="books pb-5">
    <div class="container-fluid">
        <div class="row">
            <div *ngFor="let b of books" class="col-3 mb-5">
                <div class="mycard text-center">
                    <img [src]="'assets/images/book_'+b.id+'.jpg'" alt="">
                    <div class="divider my-2"></div>
                    <p>{{b.title}}</p>
                    <h6>{{b.price}}</h6>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!-- End books -->
  <!-- Start Footer -->
  <section class="footer text-center py-3 bg-blue text-light">
    <h6>2021 - created by anass laaribi</h6>
  </section>
  <!-- End Footer -->